@media screen and (max-width: 1279px) {
    .footer h3 {
        font-size: 2em;
    }
    .footer p {
        width: 70%;
    }
    .member {
        width: 45%;
    }
}
@media screen and (max-width: 931px){
    .footer-credit {
        width: 96%;
        gap: 16px;
    }
    .member {
        width: 50%;
    }
    #popup-board {
        width: 616px;
    }
    #popup-board .input-form {
        width: 80%;
    }
    #popup-board input, #popup-board textarea {
        width: 100%;
    }
    .seperate-bar {
        width: 100%;
    }
    .task-container {
        width: 664px;
    }
    h2 {
        font-size: 2.5em;
    }
    .footer h3 {
        width: 60%;
    }
    .member h3 {
        width: 100%;
    }
    .toast-container {
        width: 600px;
    }
    .toast-container p {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 767px){
    .social-media img {
        width: 48px;
    }
    .social-media {
        width: 48px;
        height: 48px;
        right: 16px;
    }
    .footer h3 {
        font-size: 1.8em;
    }
    .task-container {
        width: 564px;
    }
    .task-container p {
        font-size: 1.1em;
    }
}