@media screen and (max-width: 1279px) {
    .footer h3 {
        font-size: 2em;
    }
    .footer p {
        width: 70%;
    }
    .member {
        width: 45%;
    }
}
@media screen and (max-width: 931px){
    .footer-credit {
        width: 96%;
        gap: 16px;
    }
    .member {
        width: 50%;
    }
    #popup-board {
        width: 664px;
    }
    #popup-board .input-form {
        width: 80%;
    }
    #popup-board input, #popup-board textarea {
        width: 100%;
    }
    .seperate-bar {
        width: 100%;
    }
    .task-container {
        width: 664px;
    }
    h2 {
        font-size: 2.5em;
    }
    .footer h3 {
        width: 60%;
    }
    .member h3 {
        width: 100%;
    }
    .toast-container {
        width: 600px;
    }
    .toast-container p {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 767px){
    .social-media img {
        width: 48px;
    }
    .social-media {
        width: 48px;
        height: 48px;
        right: 16px;
    }
    .footer h3 {
        font-size: 1.8em;
    }
    .task-container {
        width: 632px;
    }
    .task-container p {
        font-size: 1.1em;
    }
    .footer-bottom p {
        width: 100%;
        font-size: 1.2em;
    }
    #popup-board {
        width: 600px;
    }
    #popup-board.delete-task-popup {
        width: 600px;
    }
    .notaskfound-title {
        text-align: center;
    }
}
@media screen and (max-width: 663px) {
    .footer h3 {
        font-size: 24px;
        width: 50%;
    }
    .footer-credit {
        flex-direction: column;
    }
    .member {
        width: 100%;
    }
    .member p {
        width: 90%;
    }
    .logo-doan-tinhoctre {
        height: 70px;
    }.task-container {
        width: 500px;
    }
    .task-container p {
        font-size: 20px;
    }
    #popup-board {
        width: 516px;
        gap: 24px;
        padding: 48px 0 32px 0;
    }
    #popup-board.delete-task-popup {
        padding: 48px 0 16px 0;
    }
    .popup-header {
        font-size: 32px;
        width: 80%;
    }
    #close-popup {
        font-size: 1.8em;
        top: 20px;
        right: 20px;
    }
    input::placeholder,
    textarea::placeholder {
        font-size: 1em;
    }
    .toast-container {
        width: 90%;
        height: 100px;
        margin-right: 10px;
    }
    .toast-container p {
        font-size: 20px;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        width: 65%;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    .task-container .task-title,
    .task-container.expanded .task-title {
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        width: 75%;
        padding: 8px 0;
    }
    .expanded .task-title {
        margin-bottom: 8px;
    }
    .task-container .task-desc,
    .expanded .task-desc {
        width: 95%;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
    }
    #popup-board.delete-task-popup {
        width: 464px;
    }
    input, textarea {
        font-size: 1.25em;
    }
}
@media screen and (max-width: 563px) {
    h1 {
        font-size: 40px;
    }
    .header h2 {
        font-size: 30px;
    }
    .app {
        padding: 0 32px 64px 32px;
    }
    .member h3 {
        font-size: 20px;
    }
    .member p {
        font-size: 20px;
    }
    #task-list {
        width: 95%;
    }
    .task-container {
        width: 100%;
        font-size: 1em;
    }
    #popup-board {
        width: 85%;
    }
    #close-popup {
        font-size: 1.2em;
    }
    button {
        padding: 16px 32px;
        font-size: 1.25em;
    }
    .button-wrap {
        gap: 48px;
    }
    .task-container .task-title,
    .task-container.expanded .task-title {
        width: 67%;
    }
    .toast-container {
        width: 90%;
        font-size: 1.2em;
    }
    input, textarea {
        font-size: 1em;
    }
    .footer-header img {
        height: 54px;
    }
    #popup-board.delete-task-popup {
        width: 90%;
    }
    .popup-header {
        font-size: 24px;
    }
    #theme-switch {
        font-size: 1.3em;
        top: 8px;
        left: 8px;
        padding: 28px;
    }
    p.notaskfound-title {
        font-size: 24px;
    }
    .submit-task {
        padding: 16px 32px;
    }
}

@media screen and (max-width: 479px) {
    #popup-board {
        width: 95%;
    }
    #popup-board .input-form {
        width: 85%;
    }
    .popup-header {
        font-size: 20px;
    }
    .task-container .task-title,
    .task-container.expanded .task-title {
        width: 54%;
    }
    .footer-header {
        flex-direction: column-reverse;
        gap: 32px;
    }
    .footer h3 {
        width: 100%;
    }
    .member p {
        font-size: 18px;
        width: 80%;
    }
    .member img {
        width: 40px;
        height: 40px;
    }
    button {
        font-size: 1em;
    }
    p.notaskfound-title {
        font-size: 20px;
    }
}