* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito sans', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 100px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#task-title-input {
    height: 3rem;
}

#task-desc-input {
    height: 8rem;
}

#task-title-input::placeholder,
#task-desc-input::placeholder {
    font-size: 1.2em;
}

#submit-task {
    padding: 15px 40px;
    outline: none;
    border: none;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navbar button {
    background-color: transparent;
    border-bottom: 5px solid;
    border-radius: 0;
}
.task-container {
    display: flex;
    width: 500px;
    align-items: center;
}
#task-list,
#task-list-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.seperate-bar {
    width: 500px;
    height: 4px;
    background-color: black;
}
.input-form div:nth-child(1),
.input-form div:nth-child(2) {
    position: relative;
}
.length-count {
    position: absolute;
    top: 12px;
    right: 12px;
}
.textarea-length-count {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
#popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
}
#popup-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 15px 5px rgb(150, 150, 150);
}
#close-popup {
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 20px;
}
#popup-board input,
#popup-board textarea {
    width: 400px;
}
#popup-board button {
    width: fit-content;
}
#popup-board .form-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#popup-board h2 {
    font-family: 'raleway';
    font-size: 3em;
    margin-top: 100px;
}
#popup-board .button-wrap {
    display: flex;
    gap: 30px;
}
h1,
h2 {
    font-family: 'raleway', serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

input,
textarea {
    width: 500px;
    padding: 10px;
    font-size: 1em;
}

textarea {
    resize: vertical;
    max-width: 500px;
}
button {
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 40px;
}
